.howItWork {
    display: flex;
    justify-content: space-around;
    align-items: start;
}

.lock {
    position: relative;
    right: 20%;
}

.howItWork__text_block {
    width: 60%;
}

.howItWork__text {
    font-size: 24px;
    text-align: start;
    word-spacing: -2px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}
.message__black {
    background-color: rgba(68, 68, 68, 0.58);
    border-radius: 20px;
    padding: 20px 25px 5px 15px;
    text-align: end;
    margin-bottom: 50px;
    font-size: 24px;
}

.time {
    text-align: end;
    font-size: 10px;
    position: relative;
    left: 10px;
    color: rgba(255, 255, 255, 0.59);
}
.message__blue {
    background: linear-gradient(0deg,rgba(19, 118, 168, 1) 0%, rgba(84, 0, 253, 1) 100%);
    border-radius: 20px;
    padding: 20px 25px 5px 15px;
    text-align: end;
}